.container {
    width: 85vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 400px; /* Ajusta la altura mínima según tus necesidades */
  }

.linkNoUnderline {
    text-decoration: none;
}

.noResults {
    color: red;
    font-size: 18px;
    text-align: center;
    margin: 10px auto;
  }