.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.searchForm {
  display: flex;
  align-items: center;
}

.searchInput {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 8px;
}

.searchButton {
  padding: 8px 16px;
  background-color: #ff3366;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.searchButton:hover {
  background-color: #e6005c;
}